body{
	margin: 0;
	padding: 0;
	background-image: url(highway.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 20px;
}
.container{
	padding: 40px;
	width: 30%;
	background-color:white;
	opacity: 0.85;
	text-align: center;
	margin-left: 34%;
	margin-top: 2%;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.temperature{
	font-size: 40px;
}
.description{
	text-transform: capitalize;
}
.swap{
	float: left;
}
.swap input[type="button"]{
	background: black;
	border:none;
	color: white;
	border-radius: 5px;
	font-size: 18px;
	height: 30px;
	width: 45px;
}
.swap input[type="button"]:hover{
     background:#80bfff;
     cursor: pointer;
     transition: 0.5s;
}

@media screen and (max-width: 800px) {
  .container{
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }
}
